* {
  margin: 0;
  padding: 0;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  text-align: center
}
.menu a {
  color: #fff
}
body, html {
  height: 100%
}
.size {
  width: 1140px;
  max-width: 90%
}
.margin {
  margin: 0 auto
}
.mg10 {
  margin: 10px
}
.mg20 {
  margin: 20px
}
.mg30 {
  margin: 30px
}
.mg10-r {
  margin-right: 10px
}
.pd10 {
  padding: 10px
}
.pd20 {
  padding: 20px
}
.pd30 {
  padding: 30px
}
.float-left {
  float: left
}
.float-right {
  float: right
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.width-full {
  width: 100%
}
.height-full {
  min-height: 100vh
}
.height-full-menu {
  height: calc(100vh - 60px)
}
.width-100 {
  width: 100px
}
.width-200 {
  width: 200px
}
.width-300 {
  width: 300px
}








.box {
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
  // overflow-x: hidden;
  color: #828485
}
.item iframe {
  border: none
}
.box-header {
  background: #f4f4f4;
  border-bottom: 1px solid #ddd;
  height: 80px;
}
.box-header h2 {
  font-size: 18px;
  margin-bottom: 5px;
  color: #24292E
}
.box-iframe {
  position: relative;
}
.teclado {
  height: auto;
  bottom: 0;
  width: 100%;
  position: absolute;
}
.teclado img {
  width: 100%;
  max-height: 50%;
}




.intro {
  width: 500px;
  max-width: 90%
}


.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 99;
  background: rgba(0,0,0,.3);
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.modal-style {
  background: #fff;
  width: 400px;
  max-width: 90%;
  box-shadow: 1px 1px 10px rgba(0,0,0,.2);
  border-radius: 4px;
  border:1px solid #ddd;
  height: auto;
  margin-top: 30px

}
.modal-header {
  padding-top: 15px;
  padding-bottom: 15px;
  background: #f4f4f4;
  border-bottom:1px solid #ddd;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.modal-content {
  padding: 30px;
}
.modal-buttons {
  margin-bottom: 45px;
}
.role {
  // height: calc(100vh - 60px)
}
.novo {
  padding-top: 10px;
  padding-left: 5px;
}

hr {
  margin-bottom: 10px;
  height: 1px;
  border: none;
  background: rgba(255, 255, 255, .1)
}
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #21222C;
}

::-webkit-scrollbar
{
	width: 10px;
	height: 10px;
	background-color: red;
}

::-webkit-scrollbar-thumb
{
  border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #404149;
}
