.btn {
  color: #fff;
font-weight: 500;
padding: 6px 12px;
font-size: 14px;
line-height: 20px;
border: 1px solid rgba(27,31,35,0.2);
border-radius: 0.25em;
background-color: #28a745;
background-image: -webkit-gradient(linear, left top, left bottom, from(#34d058), color-stop(90%, #28a745));
background-image: linear-gradient(-180deg, #34d058 0%, #28a745 90%);
outline: none;
white-space: nowrap;
vertical-align: middle;
cursor: pointer;

}
.btn:hover {
background-color: #22953c;
background-image: -webkit-gradient(linear, left top, left bottom, from(#2bb44b), color-stop(90%, #22953c));
background-image: linear-gradient(-180deg, #2bb44b 0%, #22953c 90%);
}
.btn-o {
  color: #24292e;
  background-color: #eff3f6;
  background-image: -webkit-linear-gradient(270deg, #fafbfc 0%, #eff3f6 90%);
  background-image: linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%);
}
.btn-o:hover {
  background-color: #e6ebf1;
  background-image: -webkit-linear-gradient(270deg, #f0f3f6 0%, #e6ebf1 90%);
  background-image: linear-gradient(-180deg, #f0f3f6 0%, #e6ebf1 90%);
  background-position: 0 -0.5em;
  border-color: rgba(27,31,35,0.35);
}
.menu-lateral ul {
  display: flex;
  flex-direction: column;
}
.menu-lateral ul button {
  width: calc(100% - 20px);
  margin-left: 10px;
  margin-right: 10px;
}





.img-check div label:first-child {
  display: none
}
.img-check div {
  margin-bottom: 10px;
}
.img-check input[type="radio"] {
  display: none
}
.img-check input[type="radio"] + label {
opacity: .4;
padding: 20px;
cursor: pointer;
transition: .3s
}
.img-check input[type="radio"] + label:hover {
opacity: .9;
}

.img-check input[type="radio"]:checked + label {
opacity: 1;
position: relative;
}
// 
// .img-check input[type="radio"]:checked + label::after {
// width: 5px;
// height: 5px;
// border-radius: 50%;
// background: #ff79c6;
// content: "";
// display: block;
// position: absolute;
// top: 25px;
// left: 10px
// }
