.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%
}
.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.align-left {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start
}
.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center
}
.align-right {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end
}
.justify-left {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start
}
.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center
}
.justify-right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end
}
.space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.space-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.basis-1 {
  -ms-flex-preferred-size: 200px;
      flex-basis: 200px;
}
.basis1 {
  -ms-flex-preferred-size: 100px;
      flex-basis: 100px;
}
.basis2 {
  -ms-flex-preferred-size: 200px;
      flex-basis: 200px;
}
.basis3 {
  -ms-flex-preferred-size: 300px;
      flex-basis: 300px;
}
.basis4 {
  -ms-flex-preferred-size: 400px;
      flex-basis: 400px;
}
.basis5 {
  -ms-flex-preferred-size: 500px;
      flex-basis: 500px;
}
.basis6 {
  -ms-flex-preferred-size: 600px;
      flex-basis: 600px;
}
.basis7 {
  -ms-flex-preferred-size: 700px;
      flex-basis: 700px;
}
.basis8 {
  -ms-flex-preferred-size: 800px;
      flex-basis: 800px;
}
.basis9 {
  -ms-flex-preferred-size: 900px;
      flex-basis: 900px;
}
.basis10 {
  -ms-flex-preferred-size: 1000px;
      flex-basis: 1000px;
}
.basis11 {
  -ms-flex-preferred-size: 1100px;
      flex-basis: 1100px;
}



.flex {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.flex1 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.flex2 {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}
.flex3 {
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
}
.flex4 {
  -webkit-box-flex: 4;
      -ms-flex-positive: 4;
          flex-grow: 4;
}
.flex5 {
  -webkit-box-flex: 5;
      -ms-flex-positive: 5;
          flex-grow: 5;
}
.flex6 {
  -webkit-box-flex: 6;
      -ms-flex-positive: 6;
          flex-grow: 6;
}
.flex7 {
  -webkit-box-flex: 7;
      -ms-flex-positive: 7;
          flex-grow: 7;
}
.flex8 {
  -webkit-box-flex: 8;
      -ms-flex-positive: 8;
          flex-grow: 8;
}
.flex9 {
  -webkit-box-flex: 9;
      -ms-flex-positive: 9;
          flex-grow: 9;
}
.flex10 {
  -webkit-box-flex: 10;
      -ms-flex-positive: 10;
          flex-grow: 10;
}
.flex11 {
  -webkit-box-flex: 11;
      -ms-flex-positive: 11;
          flex-grow: 11;
}
.flex12 {
  -webkit-box-flex: 12;
      -ms-flex-positive: 12;
          flex-grow: 12;
}
.conteudo {
  margin-left: 20px
}
