<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vuew</title>
  <link rel="stylesheet" href="./dist/app.css">
</head>

<body>
  <div id="app">



    <div class="rel-menu">
      <div class="menu">
        <div class="menu-topo margin container align-center space-between">
          <div class=" text-left">
            <strong><a href="./">
              <img src="./src/assets/logo-01.svg" class="logo" alt="">
            </a></strong>
          </div>
          <div class="">
            <input @keyup.enter="keyUpShow" class="input" placeholder="http://github.com" v-model="site">
          </div>

        </div>
      </div>
    </div>


     <div v-show="modalQrCode" v-cloak>
       <div class="modal" >
         <div class="modal-style">
           <div class="modal-header">
             <div>
               <h2>QR-CODE</h2></div>
             <div @click="toggleModalQrCode">
               <h2>x</h2>
             </div>
           </div>
           <br />
           <qrcode-vue :value="site" :size="size" :background="background" level="H"></qrcode-vue>
           <br />
         </div>
       </div>
     </div>

    <div v-show="modalAdd" v-cloak>
      <div class="modal">
        <div class="modal-style">
          <div class="modal-header">
            <div>
              <h2>Novo size</h2></div>
            <div @click="toggleModal">
              <h2>x</h2></div>
          </div>
          <div class="modal-content">
            <div class="mg10">
              <strong><small>Width</small></strong>
              <input type="text" name="" class="input-number" v-model="width"> x
              <strong><small>Height</small></strong>
              <input type="text" name="" class="input-number" v-model="height" @keyup.enter="addSize">
            </div>
          </div>
          <div class="modal-buttons">
            <button type="submit" @click="addSize" class="btn float-right width-100 mg10-r">Add</button>
          </div>
        </div>
      </div>
    </div>



    <div class="container role" v-if="site" v-cloak>
      <div class="menu-lateral-rel">
        <div class="menu-lateral">
          <ul class="btns">
            <li>
              <button type="submit" class="btn" @click="toggleModal">+</button>
            </li>

          </ul>

          <hr>




          <div class="img-check">

            <div class="">
              <input type="radio" id="t" name="filtraT" v-model="sizee" value="all">
              <label for="t" @click="filtratipo = 'all'">
                <img src="./src/assets/2.svg" value="tablet" width="25" alt="">
              </label>
            </div>

            <div class="">
              <input type="radio" id="ttte" name="filtraT" v-model="sizee" value="tablet">
              <label for="ttte" @click="filtratipo = 'tablet'">
                <img src="./src/assets/tablet.svg" value="tablet" width="20" alt="">
              </label>
            </div>

            <div class="">
              <input type="radio" id="tte" name="filtraT" v-model="sizee" value="mobile">
              <label for="tte" @click="filtratipo = 'mobile'">
                <img src="./src/assets/phone.svg" value="mobile" width="20" alt="">
              </label>
            </div>

            <div class="">
              <input type="radio" id="te" name="filtraT" v-model="sizee" value="default">
              <label for="te" @click="filtratipo = 'default'">
                <img src="./src/assets/resize.svg" value="mobile" width="20" alt="">
              </label>
            </div>


          </div>

          <hr>

          <div class="img-check">


          <div @click="revert" class="cursor">
              <img :src="tee" alt="" width="20">
          </div>

          <div @click="toggleModalTeclado" class="cursor">
            <img src="./src/assets/keyboard.svg" value="tablet" width="20" alt="" :class="ttst">
          </div>



          </div>

          <hr>








          <div class="img-check">
            <div class="">
              <input type="radio" v-model="wrapp" value="nowrap" id="wnrapp">
              <label for="wnrapp">
                <img src="./src/assets/inline.svg" width="20" alt="">
              </label>
            </div>
            <div class="">
              <input type="radio" v-model="wrapp" value="wrap" id="wrapp">
              <label for="wrapp">
                <img src="./src/assets/block.svg" width="20" alt="">
              </label>
            </div>

          </div>

          <hr>


          <div class="img-check">
            <div class="basis1 flex">
              <input type="radio" v-model="scala" value="1" id="100">
              <label for="100"><small>100%</small></label>
            </div>
            <div class="basis1 flex">
              <input type="radio" v-model="scala" value="0.75" id="75">
              <label for="75"><small>75%</small></label>
            </div>
            <div class="basis1 flex">
              <input type="radio" v-model="scala" value="0.50" id="50">
              <label for="50"><small>50%</small></label>
            </div>
          </div>

          <hr>

          <div class="img-check">
            <div @click="toggleModalQrCode" class="qrcode cursor">
              <img src="./src/assets/qr-code.svg" value="tablet" width="20" alt="" :class="mqrcode">
            </div>
          </div>


        </div>
      </div>
      <div class="container" v-bind:style="{ flexWrap: wrapp }">

        <div v-if="filtratipo == 'default'" class="novo">
          <button class="btn" @click="toggleModal">+ Novo size</button>
        </div>

        <div class="item" v-for="size in filteredItems" v-bind:style="{ zoom: scala }">

          <!-- <div id="muda"> -->
          <!-- <div v-bind:style=" 'transform: scale(' + scala + ')' "> -->
          <div class="box">
            <div class="box-header container center">
              <div class="mg10">
                <h2 v-text="size.name"></h2>
                <strong><small>W</small></strong>
                <input type="text" name="" class="input-number" v-model="size.width"> x
                <strong><small>H</small></strong>
                <input type="text" name="" class="input-number" v-model="size.height">
              </div>
            </div>
            <div class="box-iframe">
              <div class="teclado" v-show="modalTeclado">
<img src="./src/assets/teclado.png" alt="">
              </div>
              <iframe :src="site" v-bind:width="size.width" v-bind:height="size.height" v-bind:style="{ zoom: scala }"></iframe>
            </div>
          </div>
          <!-- <div class="box-button">
            <button type="submit" class="btn float-right width-100 mg10-r">Save</button>
          </div> -->
        </div>

      </div>
    </div>


  </div>

  <!-- <div v-if="!site" class="container center height-full-menu">
      <div>
        <h3>Your client is everywhere.</h3>
        <img src="./src/assets/intro2.svg" class="intro" alt="">
      </div>
    </div> -->


  </div>

  <script src="./dist/build.js"></script>
</body>

</html>
