<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Vuew</title>
  <link rel="stylesheet" href="./dist/app.css">
</head>

<body>
  <div id="app">

    <div class="rel-menu">
      <div class="menu">
        <div class="menu-topo margin container align-center space-between">
          <div class="basis2 text-left">
            <strong>Vuew</strong>
          </div>
          <div class="flex">
            <input @keyup.enter="keyUpShow" class="input" placeholder="http://github.com">
          </div>
          <div class="basis2 text-right">
            <small>Links</small>

          </div>
        </div>
      </div>
    </div>



<div class="container" v-if="site" v-cloak>
  <div class="basis-1 menu-left-rel pd20">
    <div class="menu-left">
      <div class="container column">
        <div class="role">
          <div v-cloak>
            <input min="0.50" max="1" step="0.01" v-model="scalep" type="range">
          </div>

        </div>
      </div>
    </div>
  </div>


  <div class="basis5 flex12 conteudo">


    <div class="container" v-bind:style="{ zoom: scalep }">
      <div v-for="size in sizes">
        <div class="item">
          <div class="box">
            <div class="box-header container center">
              <div class="mg10">
                <h2 v-text="size.name"></h2>
                <strong><small>W</small></strong>
                <input type="text" name="" class="input-number" v-model="size.width"> x
                <strong><small>H</small></strong>
                <input type="text" name="" class="input-number" v-model="size.height">
              </div>
            </div>
            <div class="box-iframe">
              <iframe :src="site" v-bind:width="size.width" v-bind:height="size.height"></iframe>
            </div>
          </div>
          <div class="box-button">
            <button type="submit" class="btn float-right width-100 mg10-r">Save</button>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>








    <div v-if="!site" class="container center height-full-menu">
      <div>
        <h3>Your client is everywhere.</h3>
        <img src="./src/assets/intro2.svg" class="intro" alt="">
      </div>

    </div>



  </div>
  <script src="./dist/build.js"></script>
</body>

</html>
