.rel-menu {
  position: relative;
  height: 60px;
width: 100%;
z-index: 999
}
.menu {
  background: #24292E;
  color: #dfdfdf;
  position: fixed;
  width: 100%
}
.menu-topo {
  height: 60px;
  width: 95%;
}


.menu-left-rel {
  position: relative;
  min-width: 90px;
  height: 100%;
}
.menu-lateral {
  background: #3b3d40;
  color: #dfdfdf;
  height: 100%;
  position: fixed;
  left: 0;
  top: 60px;
  width: 90px;

}

@media only screen and (max-width: 400px) {
  .hideMobile {
    display: none
  }
}
@media only screen and (max-width: 700px) {
  .hideTablet {
    display: none
  }
}


.staggered-transition {
    transition: all .5s ease;
    overflow: hidden;
    margin: 0;
    height: 20px;
}
.staggered-enter, .staggered-leave {
    opacity: 0;
    height: 0;
}
